 @import url('https://fonts.googleapis.com/css?family=Poppins:300, 500, 700, 900');
@font-face
{
  font-family: helveticaThin;
  src: url(./fonts/HelveticaNeue_Thin.otf);  
}

@font-face
{
  font-family: helveticaLight;    
  src: url(./fonts/HelveticaNeue_Light.otf);
}

@font-face
{
  font-family: helveticaMedium;
  src: url(./fonts/HelveticaNeue_Medium.ttf);
}

@font-face
{
  font-family: helveticaBold;
  src: url(./fonts/HelveticaNeue_Bold.ttf);
}
/* 

    Table of content
    ===============================
    1. Default tag settings
    2. Bootstrap component settings
    3. Layout settings 
    4. Own component settings


*/

/* 1. Default tag settings */
*, ::before, ::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-size: 16px;       
  /* font-family: 'Roboto', sans-serif;   */  
  font-family: helveticaLight;  
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: .2px;  

}

:root
{
  --primary-color: #2465E4;
  --dark-color: #313131;
  --white-color: #fff;
  --light-grey: #8F8F90;  
  --lighter-grey: rgba(0, 0, 0, 0.2);
  --green-color:rgb(6, 179, 127);
  --lighter-green:rgb(31, 199, 185);
  --danger:#FE3C3C;
}

::placeholder
{
  color: var(--light-grey);
  opacity: .5;  
}

.mw-70
{
  max-width: 70% !important;
}

html
{
  height: 100%;
  background:#FBFBFB !important;    
}

body
{
  height: 100%;    
  background:#FBFBFB !important;    
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}


/* remove google chrome autocomplete's styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#root
{
  height: inherit;  
}

.App
{
  height: inherit;
  display: flex;
  flex-flow: column;  
}

a
{
  text-decoration: none;
  color: var(--light-grey);
}

p
{
  font-size: 1.1rem;
}

h1,h2,h3,h4,h5,h6{  
  font-family: "Poppins", sans-serif !important;   
  font-weight: 700 !important;
}

/* 2. Bootstrap component settings */
.container
{  
  min-height: inherit;
  height: inherit;
}

.navbar 
{
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  padding: 0 !important;  
  /* background: #5B41FF;    */
  background: var(--white-color);  
}

.navbar-brand
{
  /* color: var(--white-color) !important; */
  color: var(--dark-color) !important;
  padding-top: 0 !important;

  font-size: 1.5rem !important;
  font-family: helveticaBold;
}

.nav-link
{
  /* color: var(--white-color) !important; */
  color: var(--dark-color);
  font-family: helveticaMedium;
  font-size: .9rem;
  letter-spacing: .25px;
  word-wrap: none !important;  
  margin: 0 .25em;

  opacity: .55;
  /* font-weight: 400; */
}

.nav-link:hover, .navbar-brand:hover
{  
  color: var(--primary-color);
  transition: color, opacity 200ms ease-in;
  opacity: 1;
}

.btn-group
{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.shadow
{
  /* box-shadow: 0px 7px 35px rgba(45, 92, 201, 0.1) !important;     */
  border-radius: 15px;
}

.card
{    
  max-width: inherit;
  border: none !important;  
  padding: .35em 1em;
}

.card-shadow
{
  /* box-shadow: 0px 7px 25px rgba(63, 88, 146, 0.1);  */
  box-shadow: 0px 4px 10px rgba(63, 88, 146, 0.1); 
  border-radius: 15px;
}


.card:hover
{
  transform: translateY(-2px);
  transition: transform 300ms ease-in-out 2ms;
  cursor: pointer;
}

.card-shadow:hover
{
  box-shadow: 0px 10px 25px rgba(44, 64, 110, 0.1);  
}

.card-companyName
{
  font-size: .9rem;
}

.card-title
{
  font-family: helveticaBold;
  text-transform: capitalize;
  font-size: 1.1rem;

  margin: 1em 0;
}

.card-sub-title
{
  font-weight: bold;
  color: var(--light-grey);  
}

.card-text
{
  font-size: .9rem;
  color: var(--light-grey);
  /* padding-bottom: 2em;   */
}

.breadcrumb
{
  /* background: rgb(243, 245, 245) !important;   */
  background: transparent !important;
  color: var(--light-grey);  
  margin-left: auto !important;
}

.breadcrumb-item
{
  font-family: helveticaLight !important;
}


.breadcrumb-item+.breadcrumb-item::before 
{
  content: '>' !important;
  color: var(--light-grey) !important;
}

.breadcrumb-item.active
{
  color: var(--white-color) !important;  
  font-family: "Poppins", sans-serif !important;  
  font-weight: bold;
}

/* 3. Layout settings */
.hero-section::before
{
  content: '';  
  /* background:linear-gradient(180deg, #5B41FF 0%, #5135FB 100%);   */
  background-color: rgba(0, 0, 0, .9);
  background-blend-mode: overlay;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero-section::after
{
  content: '';  
  /* opacity: .05;   */
  background-image: url(./images/jobbg.jpg);  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 320px 50px 150px 180px; */

  position: absolute;
  right: 0;  
  bottom: 0;
  z-index: -2;
  
  max-width: 100% !important;  
  width: 100% !important;
  height: 100% !important;
}

.hero-section, section
{  
  min-height: 80vh;  
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
  margin-top: 2rem;  
}

.hero-section .blockquote
{
  font-family: "Poppins", sans-serif;    
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -.5px;
  line-height: 1.3;
}

.hero-section .blockquote-footer
{
  font-size: 1rem;
  font-weight: normal;
  color: rgb(224, 224, 224);
}

.posts-section
{
  position: relative;  
  /* margin-top: 75vh; */
  margin-top: 90vh;
  min-height: 0;  
}

/* 4. Own component settings */
.transition-show
{
  animation: transitionShow 600ms ease-in forwards;
}

.transition-hide
{
  animation: transitionHide 600ms ease-in forwards;
}

@keyframes transitionHide
{
  0%{opacity: 1;}  
  100%{opacity: 0;}  
}

@keyframes transitionShow
{
  0%{opacity: 0.25;}  
  100%{opacity: 1;}  
}
.active
{
  /* color: var(--white-color) !important; */
  color: var(--primary-color);
  font-weight: 500;
  opacity: 1;
}

#divider
{
  position: relative;
  width: 10%;
  height: 3px;
  background: var(--lighter-grey);
}

#divider::before
{
  /* content: ''; */
  position: absolute;  
  top: 10px;

  background: var(--lighter-grey);
  height: 2px;
  width: 100%;  
}

.light-grey-text
{
  color: var(--light-grey);
}

.primary-button
{    
  
  width: auto;
  padding: .5em .75em !important;

  font-family: helveticaMedium;
  /* text-align: center; */
  color: var(--primary-color) !important;

  border: 1px solid var(--primary-color);
  border-radius: 7px;
}

.primary-bg-button
{
  max-width: 140px !important;
  width: 100%;

  margin: 0 .5em;
  padding: .5em .75em !important;

  font-family: helveticaMedium;  
  text-align: center;

  background: var(--primary-color);
  color: var(--white-color) !important;
  
  border: none;
  border-radius: 7px;
}

.danger-bg-button
{
  max-width: 140px !important;
  width: 100%;

  margin: 0 .5em;
  padding: .5em .75em !important;

  font-family: helveticaMedium;  
  text-align: center;

  background: var(--danger);
  color: var(--white-color) !important;
  
  border: none;
  border-radius: 7px;
}

.primary-bg-button--small
{
  max-width: 100px !important;
  width: 100%;

  margin: 0 .5em;
  padding: .5em .5em !important;

  font-family: helveticaMedium;  
  text-align: center;

  background: var(--primary-color);
  color: var(--white-color) !important;
  
  border: none;  
}

.no-styling-button
{
  width: auto;
  background: var(--white-color);
  border: none;
  font-family: helveticaMedium;
  color: var(--dark-color) !important;
  padding: .5em .75em !important;  
}

.primary-bg-button,.primary-button,.no-styling-button,.danger-bg-button
{
  animation: whenLeaveFocus 200ms ease-in forwards;
}

.primary-button:hover,.primary-bg-button:hover,.no-styling-button:hover,.danger-bg-button:hover
{  
  animation: whenFocus 200ms ease-in forwards;
}

@keyframes whenFocus
{
  0%{opacity: 1;}  
  100%{
    opacity: .75;    
    transform: translateY(-2px);
  }
}

@keyframes whenLeaveFocus
{
  0%{
    opacity: .75;    
    transform: translateY(-2px);
  }  
  100%{
    opacity: 1;    
    transform: translateY(0px);
  }
}

.title
{
  font-size: 2.3rem;
  font-family: helveticaMedium;
  font-weight: bold;
  color: var(--primary-color);
}

.paragraph
{
  font-size: 1rem;
}

.form-image
{
  max-width: 50%;
}

.form
{
  max-width: 40%;  

  display: flex;
  flex-flow: column;
  justify-content: center;  
}

.form, .form-image
{      
  width: 100%;
}


label
{
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-grey);
}


/* 
old form styling
=================
input[type="text"], input[type="email"], input[type="password"]
{
  border: none;
  border-bottom: 1.15px solid var(--light-grey);

  font-weight: 500;
  color: #313131;
  background-color: var(--white-color) !important;

  font-size: 1.2rem;
  padding: .25em 0;
} */

input[type="text"], input[type="email"], input[type="password"], select
{
  border: none;
  border: .5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
  color: #313131;
  background-color: var(--white-color) !important;

  font-size: 1.1rem;  
  padding: .25em .5em;
}

#jobTitle
{  
  padding: .5em .75em;  
  max-width: 50%;  
  width: 100%;
  height: 50px;

  border: none;
  border-radius: 0;  
  background: #fff !important;
  outline: none;
  color: var(--dark-color);
  font-family: helveticaMedium;
  font-size: 1.25rem;  

  transition: max-width 600ms ease-in-out 200ms;
}

.advanceSearchContent
{
  position: relative;
  width: 100%;
  
  margin-top: 1.5em;
  padding: 1em;

  border-top: .5px solid rgba(255,255,255,.5);

  background-color: transparent;  
}

.advanceSearchContent label
{
  color: var(--white-color);
}

.posts-grid
{
  position: relative;
  overflow-y: hidden;

  display: grid;
  grid-template-areas: 'left right';
  gap: 30px 15px;
  grid-auto-columns: minmax(30%,1fr) minmax(50%, 1fr);
  grid-auto-rows: minmax(50vh, 1fr);

  margin-bottom: 2em;
  /* min-height: 100vh; */
  height: auto;
}

.posts-grid-left
{
  grid-area: left;
  max-height: 80vh;
  
  background: #FBFBFB;
  overflow-y: scroll;
  padding: 0 1em;
}

.tag
{  
  color: gray;
  background-color: rgb(240, 240, 240);  
  padding: .75em !important; 
  margin: 1em 0 .25em 0 !important;
  font-size: .7rem !important;
}

.posts-grid-left::-webkit-scrollbar
{
  width: 0px;
  background: transparent;
}

.posts-grid-right
{
  grid-area: right;
  background: var(--white-color);
  /* min-height: 100vh;   */
  max-height: 100vh;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  overflow-y: scroll;
  padding: 2em 1.5em;
  border: 1px solid rgba(51, 93, 192, 0.15);
  /* box-shadow: 0px 4px 10px rgba(63, 88, 146, 0.1);  */
}

.posts-grid-right::-webkit-scrollbar
{
  width: 0px !important;
  background: transparent !important;
}

.posts-grid-right-content
{
  display: flex;  
  flex-flow: column;
}

.posts-grid-right-content .paragraph
{
  color: gray;
  line-height: 26px;
}

#scrollTopBtn
{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 1em 1em 0;
}

#avatar
{
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
}

#avatar--small
{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.profile-username
{
  color: var(--white-color);
}

.employer-navbar
{
  max-width: 100%;
  background: var(--white-color);
  padding: 1.5em 3em !important;
}

.employer-navbar .nav-link
{
  cursor: pointer;  
}

.employer-navbar .nav-link:hover
{
  border-bottom: 2px solid var(--primary-color);
}

.employer-navlink-active
{
  opacity: 1;
  border-bottom: 2px solid var(--primary-color);
}

.profile-section
{
  position: relative;
  margin-top: 80vh;
}

.profile-grid
{
  
  height: 50vh;

  display: grid;
  gap: 15px 20px;
  grid-template-areas: 'about about right'
                       'article article right'
                       'article article right';
  grid-auto-columns: minmax(25%,1fr) minmax(25%,1fr) minmax(30%, 1fr);  
}

.profile-grid > div
{
  background: var(--white-color);
  padding: 1.5em 2em;
  box-shadow: 0px 7px 25px rgba(63, 88, 146, 0.1); 
}

.profile-grid .header
{
  font-size: 1rem;  
  line-height: 29.25px;
  text-transform: uppercase;
  /* letter-spacing: -.5px; */
}

.profile-grid .small-header
{
  font-size: .8rem;
  line-height: initial;
  margin: .25em 0;
}

.small-icon
{
  max-width: 1.2rem;
  max-height: 1.2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.profile-grid .paragraph
{  
  font-size: .9rem;
  line-height: 24.375px;
}

.profile--about-container
{  
  grid-area: about;  
}

.profile-grid-right
{
  grid-area: right;
  display: flex;
  flex-flow: column;
}

.profile-grid-right > div
{
  background: var(--white-color);  
  box-shadow: 0px 7px 25px rgba(63, 88, 146, 0.1); 

  padding: 1.5em 2em;
  margin: 0 0 15px 0;
}

.profile--contact-container
{
  grid-area: contact;  
}

.profile--contact-container small
{
  color: var(--primary-color);
  font-size: .9rem;
}

.profile--skills-container
{
  grid-area: skills;
}

.profile--gallery-container
{
  grid-area: gallery;
}

.gallery-grid
{
  display: grid;
  gap: 15px;  
  grid-template-areas: 'c c c';
  grid-auto-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
  grid-auto-rows: minmax(200px,1fr);
}

.gallery-tab-item
{
  background: gray;
}

.profile--article-container
{  
  background-color: transparent !important;
  grid-area: article;
  box-shadow: none !important;
  padding: 0 0 !important;
}

#newPostField
{
  max-width: 100%;
  width: 100%;
  min-height: 10vh;
  resize: none;
  border: .5px solid rgba(0, 0, 0, .125);

  padding: .5em;
}

.profile-article
{
  background-color:#fff;
  box-shadow: 0px 7px 25px rgba(63, 88, 146, 0.1); 
  
  min-height: 10vh;
  margin: 20px 0 10px 0;
  padding: 1.5em 2em;
}

.resume-bg
{
  position: absolute;;
  top: 0;
  left:0;
  right:0;  
  
  height: 300px;  
  background: url(./images/resume-bg.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.85);
  background-blend-mode: overlay;
  background-position: center;
}


.resume-container
{  
  position: relative;
  max-width: 800px;
  margin: 7em auto 3em auto;
}

.resume-header
{
  max-width: 100%;
  width: 100%;  

  color: var(--white-color);
}

.resume-form
{
  background: var(--white-color);
  box-shadow: 0px 7px 25px rgba(63, 88, 146, 0.1); 
  
  padding: 2em 2.5em;
  display: flex;
  flex-flow: column;
}

.resume-form label, .addjob-form--part label
{
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--dark-color);
  
}

.resume-form input, .resume-form select, .resume-form textarea,
.addjob-form--part input, .addjob-form--part select, .addjob-form--part textarea, .profile-section textarea
{
  font-size: 1rem;  
  padding: .75em 1em;
  color: #313131 !important;    
}

.resume-form p
{
  font-size: .9rem;
}

.resume-form--header
{
  color: var(--primary-color);  
  font-size: 2rem;  
}

.addjob-form--part
{
  max-width: 100%;
  width: 100%;
  padding: 2em 3em;  
  background: var(--white-color);  
  box-shadow: 0px 7px 25px rgba(63, 88, 146, 0.05); 
  display: flex;
  flex-flow: column;
}

.addjob-form--part .title
{
  font-size: 1.7rem;
}

.addjob-form--part textarea
{
  resize: none;
  border: .5px solid rgba(0, 0, 0, .25);
  min-height: 20vh;
  border-radius: 5px;
}

.decision--box-container
{
  display: grid;
  grid-template-areas: "title title title title title"
                       "c c c c c";
  gap: 10px;
  grid-auto-columns: minmax(auto, 1fr);
}

.decision--box
{
  cursor: pointer;
  border: .5px solid rgba(0, 0, 0, .25);
  padding: 1em;    
}

.decision--box:hover
{
  opacity: .75;
  transition: opacity 200ms ease-in 100ms;
}

.decision--box h5
{
  font-size: 1rem;
  margin:0;
}

@media screen and ( max-width: 1080px )
{  

  .profile-grid .header
  {
    font-size: .9rem;
  }
}

@media screen and ( max-width: 780px )
{
  *{
    font-size: 12px;
  }
  .form, .form-image
  {  
    max-width: 100%;  
  }

  .container
  {
    padding: 0 2em !important;
  }

  .breadcrumb
  {
    padding: .25em 0 !important;
  }

  #searchField
  {
    max-width: 100%;
  }

  .posts-grid
  {
    grid-template-areas: 'left';
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(10vh, 1fr);
  }

  .posts-grid-right
  {
    display: none;
  }

  .profile-grid
  {
    grid-template-areas: 'about about about'
                        'right right right'
                        'article article article';
  }

  .decision--box-container
  {
    display: grid;
    grid-template-areas: "title"
                        "c";    
  }
}